In [39]:
import datetime
from datetime import datetime, date
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 7)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 250)
%matplotlib inline

from re import match
import os
import json

In [41]:
## 날짜 데이터 생성
dates = pd.date_range('2022-04-01','2022-04-7')
print(dates)        # DatetimeIndex
print(type(dates))  # <class 'pandas.core.indexes.datetimes.DatetimeIndex'>
## datetime이라는 특별한 형식 인덱스를 생성함
## datetime은 판다스에서 날짜/시간 관련 인덱스

DatetimeIndex(['2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04', '2022-04-05', '2022-04-06', '2022-04-07'], dtype='datetime64[ns]', freq='D')
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [47]:
### 시계열 데이터 : Pandas에서 DatetimeIndex의 형식으로 인덱스를 사용하는 데이터

temps1 = pd.Series([80,82,85,90,92,87,88],index=dates)
print(temps1.info())
print(temps1)
print(temps1['2022-04-07'])        # 88

<class 'pandas.core.series.Series'>
DatetimeIndex: 7 entries, 2022-04-01 to 2022-04-07
Freq: D
Series name: None
Non-Null Count  Dtype
--------------  -----
7 non-null      int64
dtypes: int64(1)
memory usage: 412.0 bytes
None
2022-04-01    80
2022-04-02    82
2022-04-03    85
2022-04-04    90
2022-04-05    92
2022-04-06    87
2022-04-07    88
Freq: D, dtype: int64
88

In [49]:
# temps1 도시의 온도와 temps2 도시의 온도 차이를 temps_diff에 저장
temps1 = pd.Series([80,82,85,90,92,87,88],index=dates)
temps2 = pd.Series([60,70,69,83,77,79,75],index=dates)

temps_diff = temps1 - temps2
print(temps_diff)

print(temps_diff.mean())    # 13.0 => 평균값을 자동으로 산출해줌(pandas의 내장함수 mean())
                                    # numpy에서 제공하는 라이브러리에 있는 mean()과는 구분됨!

2022-04-01    20
2022-04-02    12
2022-04-03    16
2022-04-04     7
2022-04-05    15
2022-04-06     8
2022-04-07    13
Freq: D, dtype: int64

13.0

In [ ]:
# 위의 temps1, temps2를 이용하여 뺄셈 이외에 다른 연산 가능한 지 실습
# 더하기, 곱하기, 나누기
print(temps1 + temps2)
print(temps1 * temps2)
print(temps1 / temps2)

In [54]:
# temps3을 생성. temps1과 temps2와 대응하는 시리즈 생성 - 75,77,67,82,77,85,89
temps3 = pd.Series([75,77,67,82,77,85,89], index=dates)

# temps1, temps2, temps3을 temps_df로 데이터프레임 생성
temps_df = pd.DataFrame({'Missoula' : temps1, 'Philadelphia' : temps2, 'Seoul' : temps3})
print(temps_df)

            Missoula  Philadelphia  Seoul
2022-04-01        80            60     75
2022-04-02        82            70     77
2022-04-03        85            69     67
2022-04-04        90            83     82
2022-04-05        92            77     77
2022-04-06        87            79     85
2022-04-07        88            75     89

In [67]:
### 각 도시의 평균온도를 구하세요
date = pd.date_range('2021-10-01','2021-10-06')
misa = pd.Series([80,82,85,90,83,87],index=date)
phil = pd.Series([70,75,69,83,79,77],index=date)
seol = pd.Series([75,77,67,82,77,85],index=date)
temps = pd.DataFrame({'Missoula':misa,'Philadelphia':phil,'Seoul':seol})
print(temps)
print('-'*50)
print('{:15}'.format('Missoula'),'{:6}'.format('평균 기온 :'),round(temps['Missoula'].mean(),2))
print('{:15}'.format('Philadelphia'),'{:6}'.format('평균 기온 :'),round(temps['Philadelphia'].mean(),2))
print('{:15}'.format('Seoul'),'{:6}'.format('평균 기온 :'),round(temps['Seoul'].mean(),2))

            Missoula  Philadelphia  Seoul
2021-10-01        80            70     75
2021-10-02        82            75     77
2021-10-03        85            69     67
2021-10-04        90            83     82
2021-10-05        83            79     77
2021-10-06        87            77     85
--------------------------------------------------
Missoula        평균 기온 : 84.5
Philadelphia    평균 기온 : 75.5
Seoul           평균 기온 : 77.17

In [96]:
## 두 개 이상의 컬럼을 한 번에 가져올 때 list를 이용
cc = temps[['Missoula','Seoul']]
print(type(cc),'\n',cc)      # <class 'pandas.core.frame.DataFrame'> 

differ = temps['Missoula'] - temps['Seoul']
cc['differ'] = differ
print(cc)

<class 'pandas.core.frame.DataFrame'>
             Missoula  Seoul
2021-10-01        80     75
2021-10-02        82     77
2021-10-03        85     67
2021-10-04        90     82
2021-10-05        83     77
2021-10-06        87     85
            Missoula  Seoul  differ
2021-10-01        80     75       5
2021-10-02        82     77       5
2021-10-03        85     67      18
2021-10-04        90     82       8
2021-10-05        83     77       6
2021-10-06        87     85       2

In [97]:
# temps_df 또는 cc 데이터프레임의 컬럼명을 모두 출력
print(cc.columns)   # 데이터프레임에 있는 컬럼을 출력  
print(cc.keys())    # Index(['Missoula', 'Seoul', 'diff'], dtype='object') - .columns와 동일
cc.values           # array - 2차 배열 형태

Index(['Missoula', 'Seoul', 'differ'], dtype='object')
Index(['Missoula', 'Seoul', 'differ'], dtype='object')

array([[80, 75,  5],
       [82, 77,  5],
       [85, 67, 18],
       [90, 82,  8],
       [83, 77,  6],
       [87, 85,  2]], dtype=int64)

In [107]:
## 데이터프레임의 인덱스는 기본 인덱스와 사용자 인덱스가 존재
# 기본 인덱스 = 위치 인덱스
# 사용자 인덱스 = 사용자가 지정한 인덱스    ex. cc 또는 temps_df에 있는 2022-04-01 ~ 2022-04-07
print(cc)
# 슬라이싱은 기본 인덱스를 사용하게 됨
cc.differ[1:4]
cc[1:4]
cc[:3]
cc[3:]
cc[-2:]
# cc[-1] => Error : 음수를 인덱스 자체로 지정할 수는 없음! 범위에서만 사용 가능?

            Missoula  Seoul  differ
2021-10-01        80     75       5
2021-10-02        82     77       5
2021-10-03        85     67      18
2021-10-04        90     82       8
2021-10-05        83     77       6
2021-10-06        87     85       2

            Missoula  Seoul  differ
2021-10-01        80     75       5
2021-10-02        82     77       5
2021-10-03        85     67      18
2021-10-04        90     82       8
2021-10-05        83     77       6

In [178]:
# loc[ [행] , [열] ] - 위치값을 입력하면 해당 데이터를 출력함 ! 

### label을 이용하는 접근 (label : 사용자 정의 인덱스)
# 접근법
cc.loc()        # <pandas.core.indexing._LocIndexer at 0x1d89b2e92b0>

In [172]:
# 1. 단일 : [데이터프레임 or Series].loc['label명']
print(cc.loc['20211003'])
print('-'*50)

# 1-2. 단일 + 원하는 컬럼의 값만 추려내기 : [데이터프레임 or Series].loc['label명',['컬럼명',...]]
print(cc.loc[['20211003'],['Seoul']])    # 사용자인덱스, 컬럼명을 활용하여 해당하는 데이터만 불러오기
print()
print('3일의 서울 기온 :',cc.Seoul.loc['20211003'])     # Series도 동일
print('-'*50)

Missoula    85
Seoul       67
differ      18
Name: 2021-10-03 00:00:00, dtype: int64
--------------------------------------------------
            Seoul
2021-10-03     67

3일의 서울 기온 : 67
--------------------------------------------------

In [167]:
# 2. 여러개일 경우(특정 인덱스만 출력)
print(cc.loc[['20211003','20211005'],['Seoul','Missoula']]) 
print('===3,5일의 서울 기온===\n' , cc.Seoul.loc[['20211003','20211005']])     # Series도 동일
print('-'*50)

# 2-2. 여러개일 경우(연속된 인덱스 출력)
print(cc.loc['20211002':'20211004'])                # 사용자인덱스의 범위로 불러오기
print(cc.loc['20211001':'20211004',['Seoul','Missoula']])
print('-'*50)

            Seoul  Missoula
2021-10-03     67        85
2021-10-05     77        83
===3,5일의 서울 기온===
 2021-10-03    67
2021-10-05    77
Name: Seoul, dtype: int64
--------------------------------------------------
            Missoula  Seoul  differ
2021-10-02        82     77       5
2021-10-03        85     67      18
2021-10-04        90     82       8
            Seoul  Missoula
2021-10-01     75        80
2021-10-02     77        82
2021-10-03     67        85
2021-10-04     82        90
--------------------------------------------------

In [170]:
# 3. Boolean 값을 이용한 출력
ls = [True,False,False,True,False,True]       # 인덱스(위치) 값과 같은 개수로 리스트 생성

print(cc.loc[ls,['Seoul','Missoula']])
print('-'*50)
print(cc.Seoul.loc[ls])

            Seoul  Missoula
2021-10-01     75        80
2021-10-04     82        90
2021-10-06     85        87
--------------------------------------------------
2021-10-01    75
2021-10-04    82
2021-10-06    85
Name: Seoul, dtype: int64

In [173]:
### 기본 인덱스를 이용하여 접근
# 접근법
print(cc)

            Missoula  Seoul  differ
2021-10-01        80     75       5
2021-10-02        82     77       5
2021-10-03        85     67      18
2021-10-04        90     82       8
2021-10-05        83     77       6
2021-10-06        87     85       2

In [175]:
# 1. 단일 : [데이터프레임 or Series].iloc[index값(int)]

# DataFrame
print(cc.iloc[3:,1])   # 컬럼의 1번째 인덱스인 Seoul의 [3:] 출력 
print('-'*50)
print(cc.iloc[3])      # 인덱스가 3인 행 출력
print('-'*50)
print(cc.iloc[3,1])    # 인덱스가 3인 행, 인덱스가 1인 열의 값 출력     # 82
# Series
print(cc.Seoul.iloc[3])       # Seoul 열(시리즈)의 인덱스가 3인 행 출력 # 82

2021-10-04    82
2021-10-05    77
2021-10-06    85
Freq: D, Name: Seoul, dtype: int64
--------------------------------------------------
Missoula    90
Seoul       82
differ       8
Name: 2021-10-04 00:00:00, dtype: int64
--------------------------------------------------
82
82

In [185]:
# 2. 여러개일 경우(특정 인덱스만 출력)

# DataFrame
print(cc.iloc[[1,3,5],[1,2]]) # cc.iloc[[출력할 행], [출력할 열]]
print('-'*50)
# Series
print(cc.Seoul.iloc[[1,3,5]])

# 2-2. 여러개일 경우(연속된 값인 경우)
# DataFrame
print(cc.iloc[1:4,[0,2]])
print('-'*50)
# Series
print(cc.Seoul.iloc[3:])

            Seoul  differ
2021-10-02     77       5
2021-10-04     82       8
2021-10-06     85       2
--------------------------------------------------
2021-10-02    77
2021-10-04    82
2021-10-06    85
Freq: 2D, Name: Seoul, dtype: int64
            Missoula  differ
2021-10-02        82       5
2021-10-03        85      18
2021-10-04        90       8
--------------------------------------------------
2021-10-04    82
2021-10-05    77
2021-10-06    85
Freq: D, Name: Seoul, dtype: int64

In [184]:
# 4. Boolean 값을 이용한 출력
# DataFrame
print(cc.iloc[ls,[0,1,2]])
print('-'*50)
# Series
print(cc.Seoul.loc[ls])

            Missoula  Seoul  differ
2021-10-01        80     75       5
2021-10-04        90     82       8
2021-10-06        87     85       2
--------------------------------------------------
2021-10-01    75
2021-10-04    82
2021-10-06    85
Name: Seoul, dtype: int64

In [233]:
import pandas as pd

data = pd.read_csv('data/goog.csv')
df = pd.DataFrame(data)
lam = lambda x : x % 3 == 0
print(df.iloc[[lam(x) for x in range(len(df))]])

# 쌤 답
print(df.iloc[0::3])

          Date        Open        High         Low       Close   Volume
0   12/19/2016  790.219971  797.659973  786.270020  794.200012  1225900
3   12/22/2016  792.359985  793.320007  788.580017  791.260010   969100
6   12/28/2016  793.700012  794.229980  783.200012  785.049988  1132700
9     1/3/2017  778.809998  789.630005  775.799988  786.140015  1643100
12    1/6/2017  795.260010  807.900024  792.203979  806.150024  1620500
..         ...         ...         ...         ...         ...      ...
48    3/1/2017  828.849976  836.255005  827.260010  835.239990  1491400
51    3/6/2017  826.950012  828.880005  822.400024  827.780029  1105800
54    3/9/2017  836.000000  842.000000  834.210022  838.679993  1259900
57   3/14/2017  843.640015  847.239990  840.799988  845.619995   779900
60   3/17/2017  851.609985  853.400024  847.109985  852.119995  1712300

[21 rows x 6 columns]
          Date        Open        High         Low       Close   Volume
0   12/19/2016  790.219971  797.659973  786.270020  794.200012  1225900
3   12/22/2016  792.359985  793.320007  788.580017  791.260010   969100
6   12/28/2016  793.700012  794.229980  783.200012  785.049988  1132700
9     1/3/2017  778.809998  789.630005  775.799988  786.140015  1643100
12    1/6/2017  795.260010  807.900024  792.203979  806.150024  1620500
..         ...         ...         ...         ...         ...      ...
48    3/1/2017  828.849976  836.255005  827.260010  835.239990  1491400
51    3/6/2017  826.950012  828.880005  822.400024  827.780029  1105800
54    3/9/2017  836.000000  842.000000  834.210022  838.679993  1259900
57   3/14/2017  843.640015  847.239990  840.799988  845.619995   779900
60   3/17/2017  851.609985  853.400024  847.109985  852.119995  1712300

[21 rows x 6 columns]

In [240]:
# High, Low의 짝수 행만 추출하기
df.iloc[0::2,2:4]
df.iloc[list(range(0,len(df),2)),[2,3]]
df.iloc[df.index % 2==0, 2:4]   # 이렇게 Boolean을 사용해도 됨 !

          High         Low
0   797.659973  786.270020
2   796.676025  787.099976
4   792.739990  787.280029
6   794.229980  783.200012
8   782.780029  770.409973
..         ...         ...
52  833.409973  826.520020
54  842.000000  834.210022
56  848.684998  843.250000
58  848.630005  840.770020
60  853.400024  847.109985

[31 rows x 2 columns]

In [241]:
data = pd.read_csv('data/goog.csv',parse_dates=['Date'],index_col='Date')       
                # parse_dates = [] -> 해당 열의 Date를 날짜 타입 그대로 인덱스로 사용, index_col = '' -> 인덱스 컬럼명 지정
data

                  Open        High         Low       Close   Volume
Date
2016-12-19  790.219971  797.659973  786.270020  794.200012  1225900
2016-12-20  796.760010  798.650024  793.270020  796.419983   925100
2016-12-21  795.840027  796.676025  787.099976  794.559998  1208700
2016-12-22  792.359985  793.320007  788.580017  791.260010   969100
2016-12-23  790.900024  792.739990  787.280029  789.909973   623400
...                ...         ...         ...         ...      ...
2017-03-13  844.000000  848.684998  843.250000  845.539978  1149500
2017-03-14  843.640015  847.239990  840.799988  845.619995   779900
2017-03-15  847.590027  848.630005  840.770020  847.200012  1379600
2017-03-16  849.030029  850.849976  846.130005  848.780029   970400
2017-03-17  851.609985  853.400024  847.109985  852.119995  1712300

[61 rows x 5 columns]